
body{
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex-container{
    display: flex;
    flex-direction: column;
}

.color0{
    order: 0;
    margin-bottom: 1px;
    border:solid 2px black;
    width: 63px;
    height: 64px;
}


.changeColorButton{
    display: flex;
    order: 1;
    width: 128px;
    height: 60px;
    align-items: center;
    justify-content: center;
}




.changeColorContainer{
    display: flex;
    flex-direction: row;
    order: -1;
    width: 192px;
    align-items: end;
}

.pixel-grid{
    display: flex;
    border: solid 1px black;
    height: 512px;
    width:512px;
    flex-flow: row wrap;   
}

.pixel-grid> div{
    box-sizing: border-box;
    display: flex;
    border:solid 1px black;
    width: 64px;
    height: 64px;
    
}

.color-generator{
    display: flex;

    width: 512px;
    height: 64px;
    margin-bottom: 10px;
    flex-direction: row;
}


.color-generator> div{
    
    box-sizing: border-box;
    display: flex;
    border-top:solid black 2px; 
    border-left: solid  black 2px;
    border-bottom:solid  black 2px;
    width: 64px;
    height: 64px;
    order: 1;
}

.color-generator .gerar-cores{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    order: 2;
    border-left: solid black 2px;
}

.color-generator .gerar-cores button{
    border-radius: 10px;
    width: 80%;
    height: 80%;
    background-color: rgb(50, 50, 50, 0.75);
    color:lightgray;
    font-family: sans-serif;
    font-size: 28px;
    box-shadow: 10px 10px 10px lightgray;
    border: solid 1px rgb(50, 50, 50, 0.75);
}

.color-generator .gerar-cores button:hover,  .reset button:hover,  .changeColorButton button:hover{
    color:black;
    background-color: white;
    text-shadow:1px 1px 2px black;
    border: solid 1px black;
    box-shadow: none
}

.reset{
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

.reset button, .changeColorButton button{
    font-size: 24px;
    width: 90%;
    height: 90%;
    background-color: rgb(50, 50, 50, 0.75);
    border: solid 1px rgb(50, 50, 50, 0.75);
    font-family: sans-serif;
    border-radius: 10px;
    box-shadow: 10px 10px 10px lightgray;
    color:lightgray;}

